{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "temp.js",
    "*.js"
  ],
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/no-duplicate-imports": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true
      }
    ]
  }
}